legend {
  font-size: 3em;
  margin-bottom: 20px;
}

.btn {
  margin-top: 15px;
  margin-bottom: -10px;
}

.btn:hover {
  opacity: 0.8;
  color: #111;
}

textarea {
  margin-top: 5px;
}

input {
  margin-top: 5px;
  height: 100%;
  background: red;
}

#label-salario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

#label-salario-description {
  flex: 1;
}